.timer {
    display: flex;
    justify-content: center;
}

.new_timer {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.set__item {
    display: flex;
    flex-direction: column;
    width: 60px;
}

.set__up,
.set__down {
    /* Можно сделать класс reset-button и туда забросить стили по сбросу дефолтной стилизации кнопок и инпутов*/
    width: 40%;
    align-self: center;
    border: 1px solid black;
    border-radius: 60px;
    margin: 10px 0;
}

.set__input {
    text-align: center;
    width: 90%;
    align-self: center;
    font-size: 28px;
}

.set__ok {
    margin: 0 10px;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    /* Вместо align-self я обычно прописываю display: flex и выравниваю контент через флексы. С align-self у меня были какие-то проблемы всегда, но так тоже можно */
    align-self: center;
}

.timer__items {
    display: flex;
    font-size: 48px;
    justify-content: center;

}

.timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.timer__item::before {
    /* Ты тут берешь содержимое из data-set? Прикольно */
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
}

.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
}



.set__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 48px;
    /* переписываешь padding-bottom выше */
    padding: 0;
}

.run__button,
.delete__button {
    width: 35px;
    height: 35px;
    /* Возможно без align-self сделать? Для меня бывает неочевидно как это повлияет при дальнейшей стилизации. Но так норм */
    align-self: center;
    margin: 0 5px;
}